[Unit]
Description=Control HDMI display power

[Service]
Type=oneshot
ExecStart=/usr/bin/hdmi-power.sh on
ExecStop=/usr/bin/hdmi-power.sh off
RemainAfterExit=on

[Install]
WantedBy=default.target
