[Unit]
Description=Pendule service
After=hdmi-power.service

[Service]
ExecStart=/usr/bin/start_pendule.sh
User=bob
Environment="XDG_RUNTIME_DIR=/run/user/1001" "HOME=/home/bob"

[Install]
WantedBy=default.target
